<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:replace="/includes/header :: headerHead"></div>
<div th:replace="/includes/header :: headerBody"></div>
<body>
<div class="container">
    <div class="jumbotron m-5">
        <h1>Hello, world!</h1>
        <p>시큐리티로 구현한 로그인입니다.</p>
        <p><a class="btn btn-primary btn-lg" href="/list" role="button">구경하기</a></p>
    </div>
</div>
</body>
<div th:replace="/includes/footer :: footer"></div>
</html>