<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="headerHead">
    <meta charset="UTF-8">
    <title>시큐리티로 만드는 로그인</title>
    <link rel= "stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
    <link rel= "stylesheet" type="text/css" href="/css/bootstrap.min.css">

</head>
<body th:fragment="headerBody">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    시큐리티 로그인
                </a>
            </div>
        </div>
    </nav>
</body>
</html>